spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Turbine?useSSL=false&serverTimezone=UTC
    username: turbine
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL5Dialect
      hbm2ddl:
        auto: create-drop
      use-new-id-generator-mappings: false
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

server.compression.enabled: false

